.div-topo {
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.botao-add {
    background-color: #cccccc;
    color: #666666;
    margin: 10px;
}

.botao-edit {
    background-color: #cccccc;
    color: #666666;
    margin: 10px;
}

.botao-remove {
    background-color: #cccccc;
    color: #666666;
    margin: 10px;
}

.form {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
  
.full-width {
    width: 100%;
    margin-right: 10px;    
}

.div-form {
    width: 80%;
}

.div-botoes {
    width: 18;
}

.toolbar {
    background: #cccccc;
}

.div-topo-lista {
    display: flex;
    text-align: center;
    font-weight: bold;
}

.div-lista {
    display: flex;
    text-align: center;
}
.span-col-nome {
    width: 27%;
}

.span-col-email {
    width: 19%;
}

.span-col-nascimento {
    width: 29%;
}

.span-col-sexo {
    width: 19%;
}

.span-col {
    width: 25%;
}