<div class="div-topo">
    <div class="div-form">
        <form class="form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" [(ngModel)]="pessoa.nome" type="text" required="true" name="nome">
                <mat-error align="start" *ngIf="formGroup.get('nome').hasError('required') &&  formGroup.get('nome').touched" class="mat-text-warn" translate>Informe seu Nome</mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input matInput placeholder="E-mail" [(ngModel)]="pessoa.email" type="text" required="true" name="email">
                <mat-error align="start" *ngIf="formGroup.get('email').hasError('required') &&  formGroup.get('email').touched" class="mat-text-warn">Informe seu E-mail</mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Data de Nascimento" [textMask]="{mask: mask}" [(ngModel)]="pessoa.datanascimento" name="datanascimento" type="text" required="true">
                <mat-error align="start" *ngIf="formGroup.get('datanascimento').hasError('required') &&  formGroup.get('datanascimento').touched" class="mat-text-warn">Informe sua Data de Nascimento</mat-error>
            </mat-form-field>
            
            <mat-form-field class="full-width" style="width: 10%">
                <input matInput placeholder="Sexo" [(ngModel)]="pessoa.sexo" type="text" required="true" name="sexo">
                <mat-error align="start" *ngIf="formGroup.get('sexo').hasError('required') &&  formGroup.get('sexo').touched" class="mat-text-warn">Informe seu Sexo</mat-error>
            </mat-form-field>
        </form>
    </div> 
    <div class="div-botoes">
        <button class="botao-add" mat-mini-fab (click)="salvar(pessoa)">
            <mat-icon>add</mat-icon>
        </button>
        <button class="botao-edit" mat-mini-fab>
            <mat-icon>edit</mat-icon>
        </button>
        <button class="botao-remove" mat-mini-fab (click)="remover()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>       
</div>
<mat-card>
    <mat-selection-list #pessoa>
        <mat-list-option *ngFor="let pessoa of listaPessoas">
            {{pessoa.nome}}
        </mat-list-option>
    </mat-selection-list>
</mat-card>




